body {
  background: linear-gradient(90deg, cornflowerblue 0%, darkseagreen 50%, darksalmon 100%);
}

h1, h2, h3, h4, h5, p, span, strike {
  font-family: 'Montserrat', sans-serif;
}

#task-container {
  max-width: 600px;
  box-shadow: lightgray;
  background-color: #fff;
  margin: 100px auto;
  justify-content: space-around;
  align-items: flex-start;
}

#form-wrapper {
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e9e9e9;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.20);
  padding: 40px;
}

#submit {
  background-color: cornflowerblue;
  border-radius: 0;
  border: 0;
  color: #fff;
}

.flex-wrapper {
  display: flex;
}

.task-wrapper {
  margin: 5px;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #e9e9e9;
  color: #686868;
}
